{% extends 'base.html' %}

{% block content %}
        <div class="card">
            <h2>Мария Одинцова</h2>
            <img class="image" src="{{ image.image.url }}" alt="Изображение не прикреплено">
            <p>Меня зовут Мария, сейчас я обучаюсь на втором курсе факультета клинической психологии в РНИМУ.</p>
            <p>Как я пришла в психологию? Все очень просто, с ранних лет мне нравилось объяснять причины поведения окружающих и
                предугадывать последствия свершенных или не свершенных действий. Наблюдая за семьей, одноклассниками, да и просто
                незнакомыми людьми, я училась понимать типажи, сравнивать и анализировать.</p>
            <p>В разное время мне были интересны и другие направления, например, дизайн или архитектура, вокал и актерское
                мастерство. Я даже всерьез собиралась поступать в театральное.</p>
            <p>Не было яркого переломного момента, после которого я поменяла свои взгляды на выбор профессии. Сравнив и взвесив все
                за и против, я поняла, что ментальная и психическая сторона жизни человека привлекают меня больше остального.</p>
            <p>В этом блоге вы сможете найти посты на разные волнующие темы, которые я буду раскрывать с психологической стороны.
                Ведь понимая причины и особенности психических процессов, явлений и состояний, на много легче улучшить качество
                жизни.</p>
            <h3><a href="{% url 'contacts' %}">Нужны подробности? Пишите!</a></h3>
        </div>
{% endblock %}