{% extends 'base.html' %}

{% block content %}
        <div class="card">
            <h2>{{ sign_post.title }}</h2>
            <h5>{{ sign_post.date }}</h5>
            <h5>
                {{ sign_post.description }}
                {% for hashtag in sign_post.hashtag.all %}
                    <a href="{{ hashtag.get_url }}">#{{ hashtag.title }}</a>
                {% endfor %}
            </h5>
            <img class="image" src="{{ sign_post.image.url }}" alt="Изображение не прикреплено">
            <p>{% autoescape off %}{{ sign_post.content }}{% endautoescape %}</p>
        </div>
{% endblock %}