{% extends 'base.html' %}

{% block content %}
    <div class="leftcolumn">
        <div class="card">
            <h2>Хештег: {{ hashtag.title }}</h2>
        </div>
        {% for sign_post in hashtag.post_set.all %}
            <div class="card">
                <a href="{{ sign_post.get_url }}"><h2>{{ sign_post.title }}</h2></a>
                <h5>{{ sign_post.description }}, {{ sign_post.date }}</h5>
                <h5>
                    {% for hashtag in sign_post.hashtag.all %}
                        <a href="{{ hashtag.get_url }}">#{{ hashtag.title }}</a>
                    {% endfor %}
                </h5>
                <img class="image" src="{{ sign_post.image.url }}" alt="Изображение не прикреплено">
                <p>{{ sign_post.content|slice:':400'}}...</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
